ul {
    list-style: none;
    padding: 0;
    margin: 0;
  
  }
  
  a {
    text-decoration: none;
    color: white;
    /* background-color:white; */
  }
  a:hover{
    /* background-color: white; */
    color: #345ACB;
  }
  ul{
    display: flex;
  }
  li{
    width: 100px;
  }
  img{
    width:30px;
    height:20px;
  }
  .spacer {
    flex: 1 1 auto;
  }
  