<div cdkDropList (cdkDropListDropped)="inputDrop($event)">
    <div class="form-group" cdkDrag *ngFor="let field of inputFields; let i = index;" [class.invalid]="errors.inputFields[i]">
      <label>Input Label</label>
      <div class="flex">
        <div class="right">
            <input type="text" [value]="data?.body" class="form-control">
          <!-- <media-picker #media [defaultValue]="partner" (change)="handleChange(i, media.value)"></media-picker> -->
        </div>
        <div class="left" *ngIf="i > 0">
          <button class="btn btn-danger" (click)="removeField($event, i)">
            <fa-icon [icon]="trashIcon"></fa-icon>
          </button>
        </div>
      </div>
      <p class="error-response" *ngIf="errors.inputFields[i]">{{errors.inputFields[i]}}</p>
    </div>
</div>
<div class="form-group add-partner-btn-con">
    <button class="btn btn-action" (click)="addField()">Add field</button>
</div>
<div>
    <button class="btn btn-success" (click)="validateData()">Save</button>
    <p class="error-response" *ngIf="!valid">Please fill all fields correctly</p>
</div>