.form-group {
    border-bottom: 1px solid #ccc;
    padding-bottom: 16px;
  }
  .add-partner-btn-con {
    margin-bottom: 32px;
    border: 0;
  }
  .flex {
    display: flex;
    justify-content: flex-start;
    align-items: flex-start;
    /* background-color: green; */
  }
  .left {
    margin-left: 16px;
    /* background-color: lightcoral; */
  }
  /* .label{
    width: 120%;
    height: 35px;
    border-radius: 10px;
    font-size: 14px;
  } */