<mat-nav-list>
    
        <h1 class="backend-title">
        <a mat-list-item routerLink="/dashboard" >
            <mat-icon>home</mat-icon> <span class="nav-caption">Home</span>
            </a>
         

          
        </h1>
        <span class="divider mt-0"></span>
        <span >ACOUNTS</span>
        <a mat-list-item routerLink="/users/list">
        <mat-icon>person_add</mat-icon><span class="nav-caption">Users</span>
        </a>
          
        <span class="divider"></span>
        <span>CONTENT MANAGEMENT</span>

        <a mat-list-item routerLink="/pages/list">
            <mat-icon>book</mat-icon><span class="nav-caption">Pages</span>
            </a>

       
        
        <a mat-list-item routerLink="/blocks/list" >
        <mat-icon>book_online</mat-icon> <span class="nav-caption">Blocks</span>
        </a>
        
        <span class="divider"></span>
        <span> NAVIGATION & MEDIA</span>
      
        <a mat-list-item routerLink="/media" >
            <mat-icon>perm_media</mat-icon> <span class="nav-caption">Media</span>
            </a>
        
            <a mat-list-item routerLink="/laiout" >
                <mat-icon>reorder</mat-icon> <span class="nav-caption">Layout</span>
                </a>
       
       
          
        <span class="divider"></span>
        <span class="router-link" (click)="logout()">
          <fa-icon [icon]="logoutIcon"></fa-icon>
          <span>
            logout
          </span>
        </span>
  
      
    <!-- <a mat-list-item routerLink="/" (click)="onSidenavClose()">
    <mat-icon>home</mat-icon> <span class="nav-caption">Home</span>
    </a>
    <a mat-list-item routerLink="/teachers" (click)="onSidenavClose()">
    <mat-icon>assignment_ind</mat-icon> <span class="nav-caption">Account
    Actions</span>
    </a> -->
    <!-- <a mat-list-item routerLink="#" [matMenuTriggerFor]="menu" >
    <mat-icon>person_add</mat-icon><span class="nav-caption">add admins</span>
    </a>
    <mat-menu #menu="matMenu">
        <a mat-menu-item (click)="addAdmins()">add pages</a>
        <a mat-menu-item (click)="onSidenavClose()">Add contact</a>
        </mat-menu> -->
    <!-- <a mat-list-item routerLink="#" (click)="onSidenavClose()">
        <mat-icon>school</mat-icon><span class="nav-caption">pages list</span>
        </a>
        <a mat-list-item routerLink="#" (click)="onSidenavClose()"> -->
            <!-- <mat-icon>school</mat-icon><span (click)="addAdmins()" class="nav-caption">add pages</span> -->
            <!-- </a> -->
            <!-- <a mat-list-item routerLink="#" (click)="onSidenavClose()">
                <mat-icon>notifications</mat-icon><span class="nav-caption">suspected cases list</span>
                </a>
                 -->
                   
                    
    </mat-nav-list>
    