
<mat-card>
    <form [formGroup]="form" (submit)="onSavePage()">
        <mat-form-field>
            <input matInput type="text"
            placeholder="Name"
            formControlName = "name"
            >
            <mat-error *ngIf="form.get('name').invalid"> Enter page name </mat-error>
        </mat-form-field>
        

        <mat-form-field>
            <input matInput type="text" placeholder="url" formControlName="url">
            <mat-error *ngIf="form.get('url').invalid"> Enter url </mat-error>
        </mat-form-field>

        <mat-form-field>
            <input matInput type="text" placeholder="title"  formControlName = "title">
            <mat-error *ngIf="form.get('title').invalid"> enter title </mat-error>
        </mat-form-field>

        <mat-form-field >
            <input matInput type="text" placeholder="content"  formControlName = "content">
            <mat-error *ngIf="form.get('content').invalid"> Enter content </mat-error>
        </mat-form-field>
        




        <button mat-raised-button
        color="accent"
        type="submit" > Save page</button>
    </form>

</mat-card>
