mat-form-field {
    width: 100%;
 
   
}
mat-card {
    vertical-align: center;
    width: 80%;
    margin-top: 2%;
    margin-left: 5%;
    

}

button{
    margin-left: 70%;
    margin-top: 2 rem;
}
