<mat-card>
    <section class="main">
      <div class="btn-con">
        <a class="btn btn-action" routerLink="/pages/list">View all</a>
      </div>
      <form *ngIf="!notFound" class="form" (submit)="submitHandler($event, slug.value, title.value)">
        <div class="form-group" [ngClass]="errors.slug ? 'invalid' : false">
          <label for="slug">Slug</label>
          <input type="text" id="slug" #slug [value]="defaultSlug" class="form-control">
          <p *ngIf="errors.slug" class="error-response">{{errors.slug}}</p>
        </div>
        <div class="form-group" [ngClass]="errors.title ? 'invalid' : false">
          <label for="title">Title</label>
          <input type="text" id="title" #title [value]="defaultTitle" class="form-control">
          <p *ngIf="errors.title" class="error-response">{{errors.title}}</p>
        </div>
  
        <div class="form-group" >
          <label for="type">Select block type</label>
          <select #inputType id="type" class="form-control" (change)="changeType(inputType.value)">
            <!-- <option value="hero">Hero block</option> -->
            <option value="two_columns">News block</option>
            <option value="text">Text block</option>
            <option value="tender_search">Search block</option>
            <option value="tender_list">Search Result List</option>
            <!-- <option value="partners">Partners block</option> -->
          </select>
        </div>




        <div>
          <div class="blocks-picker form-group" [ngClass]="errors.blocks ? 'invalid' : false">
            <div class="left">
              <label class="block-title">Choose blocks</label>
              <div class="blocks-con">
                
                <div  *ngFor="let block of blocks">
                  <div  class="drag" (click)="addBlock(block)" *ngIf="block.type == blockType">    {{getBlockTitle(block.title)}} </div>
                </div>
            
              </div>
            </div>
            <div class="right">
              <label class="block-title">Selected blocks</label>
              <div class="blocks-con" cdkDropList (cdkDropListDropped)="blocksDrop($event)">
                <div class="drag" *ngFor="let block of selectedBlocks" cdkDrag>
                  <div class="draggable-con">
                    {{getBlockTitle(block.title)}}
                    <div class="remove" (click)="removeSelectedBlock(block)">
                      <fa-icon [icon]="removeBlockIcon"></fa-icon>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
          <p *ngIf="errors.blocks" class="error-response mb">{{errors.blocks}}</p>
        </div>
        <button class="btn btn-action" (click)="helloWorld()">Add new Block</button>
        <div *ngIf="dodo">
          <admin-panel-overlay>
            <app-block-create></app-block-create>
            <button class="btn btn-action" (click)="helloWorld()">Done</button>
          </admin-panel-overlay>
        </div>

        <button class="btn btn-success">Save</button>
      </form>
      <div class="not-found-text" *ngIf="notFound">
        Page not found
      </div>
    </section>
  </mat-card>
  